# Dependency directories
node_modules/
.next/
out/

# Environment files
.env*
!.env.example

# Build files
dist/
*.log

# System files
.DS_Store
*.swp
*.swo

# IDE specific files
.idea/
.vscode/
*.code-workspace

# Test coverage
coverage/

# Local development files
*.local